.product-list {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(137, 43, 226, 0.534);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
  padding: 15px;
}

.cards-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px -1px 8px 0px rgb(243, 243, 243);
}

.cards-product h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.cards-product h3 {
  font-size: 1.2rem;
  color: #333;
}

.cards-product img {
  max-width: 100%;
  height: 195px;
}

.cards-product button {
  background-color: blueviolet;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.1s;
}

.cards-product button:hover {
  background-color: rgb(107, 0, 207);
}

.cart-count {
  color: white;
  background-color: #007bff;
  padding: 0.1rem;
  border-radius: 50%;
}

.not-found-products {
  color: white;
  font-size: 2rem;
}
